{% include 'header.html' %}
		<form action="/signup-form" method="post">
		{% csrf_token %}
			<label for="input_username">Username:</label>
			<input type="text" name="username" id="input_username" />
			<label for="input_email">Email:</label>
			<input type="text" name="email" id="input_email" />
			<label for="input_pw">Password:</label>
			<input type="text" name="pw" id="input_pw" />
			<label for="input_cpw">Confirm password:</label>
			<input type="text" name="cpw" id="input_cpw" />
			<input type="submit" value="Sign up" />
		</form>
{% include 'footer.html' %}
